* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
  margin-inline: 0.5em;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

a.active {
  font-weight: 700;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

}

.home-logo {
  width: 600px;
}